h1 {
  margin: 0 20px;
  font-weight: bold;
  font-size: 25px;
  color: #191970;
  text-shadow: 1px 1px 2px #4169E1;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  overflow: hidden;
}

td {
  border: 1px solid black;
  padding: 1px 15px;
  position: relative;
}

tr:first-of-type {
	background: #00008B;
	color: #FFFAFA;
}

td:first-of-type {
	background: #9400D3;
	color: #FFFAFA;
}

tr:first-of-type td:nth-of-type(1) {
	background: #00008B;
}

tr:hover {
  background-color: #7e4ff7;
  color: #FFFFFF;
}

td:hover::after {
  content: "";
  position: absolute;
  height: 2000vh;
  left: 0;
  top: -1000vh;
  width: 100%;
  z-index: -1;
  background-color: #7e4ff7;
}


