* {
    margin:0px;
    padding:0px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    max-width: 1600px;
    height: 200px;
    background-color: blueviolet;
    flex-grow: 0;
    flex-shrink: 0;
    color: wheat;
    font-size: 50px;
}
nav {
    display: flex;
    width: 100%;
    max-width: 1600px;
    height: 50px;
    background-color: black;
    flex-grow: 0;
    flex-shrink: 0;
    color: wheat;
    font-size: 50px;
}
#main-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1600px;
    flex-grow: 1;
    flex-shrink: 1;
}
#left-col,, #right-col{
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    flex-grow:0;
    flex-shrink: 0;
    background-color: green;
}
main {
    flex-basis: 250px;
    flex-grow:1;
    flex-shrink: 1;
}
footer {
    display: flex;
    flex-direction: row;
    width: ;
}
#logo {
    margin-left: 15px;
    width: 170px;
    height: 170px;
    background-color: orange;
}
@media (max-width:600px){
    #main-section{
        flex-direction: column;
    }
}