table {
  text-align: center;
  empty-cells: hide;
}

td {
  border: 1px solid green;
  width: 500px;
  padding: 15px;
  border-radius: 5px;
  background: #98FB98;
}

th {
  border: 1px solid green;
  background: linear-gradient(to top, #8af004, #6ab623);
  width: 500px;
  padding: 15px;
  border-radius: 5px;
}

td:first-child {
  background: linear-gradient(45deg, #8af004, #6ab623);
}
