Все элементы:
*  {
  margin:0;
  padding:0;
}

Селектор элемента:
h2 ( { color:green;
  font-family:"times new roman" ;
}
p{color:blue;}

Селектор класса:
.red {
  color:red;
}

Селектор идентификатора:
#violet {
  background-color:violet;
}

Контекстный селектор:
div table p {
  color:purple;
}
table {
  width:700px;
  border:1px solid black;
}

Селектор дочерних элементов:
td>p{color:orange;}