* {
  margin:0;
  padding:0;
}
h2 { color:green;
  font-family:"times new roman" ;
}
p{color:blue;}

.red {
  color:red;
}

#violet {
  background-color:violet;
}

div table p {
  color:purple;
}
table {
  width:700px;
  border:1px solid black;
}

td>p{color:orange;}