* {
	margin: 20px;
  background: #FF0000;
}

button {
  background: #006400; 
  width: 300px;
  height: 100px;
  font-size: 25px;
  font-family: calibri;
  box-shadow: 20px 20px 5px -5px #8B0000;
  border-radius: 8px;
  word-spacing: 10px;
}

button:hover {
  background: #00FA9A
}

button:active {
  background: #00FF00;
  color: green;
}