* {
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.header {
    background: #0050B3;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}

.header-block {
    border: 1px solid yellow;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    height: 22px;
    left: 12px;
    right: 30px;
    padding: 5px 30px 5px 12px;
    width: 100%;
    max-width: 336px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    background-image: url(../img/Vector.jpg);
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.user {
    display: flex;
    align-items: center;
}

.user-avatar {
    margin-right: 8px;
}

.user-name {
    color: #FFFFFF;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-panel {
    display: flex;
    font-family: SF Pro Display;
   
}

.navigation-link {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-left: 12px;
}

.navigation-link::before {
    content: '';
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-right: 12px;
}

.navigation-link:last-child::after {
    content: '';
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-left: 12px;
}