* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #363636;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
  padding-left: 34px;
  border-bottom: 1px solid #D4D4D4;
}

.logo {
  width: 68px;
}

.line {
  height: 100%;
  width: 1px;
  border: 1px solid #D4D4D4;
  margin-left: 34px;
}

.search-input {
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  padding-left: 38px;
  background-position: center left;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #A5A5A5;
  margin-left: 40px;
}

.navigaion {
  margin-right: 44px;
  margin-left: auto;
}

.navigation-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  margin-right: 18px;
}

button {
  height: 100%;
  cursor: pointer;
}

.login {
  font-size: 18px;
  line-height: 21px;
  border: none;
  color: white;
  background-color: #5671F6;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.sign-up {
  display: flex;
  color: #5671F6;
  font-size: 18px;
  line-height: 21px;
  border: none;
  background-color: white;
  padding-left: 34px;
  border-left: 1px solid #D4D4D4;
  align-items: center;
}

.conteiner {
  max-width: 1130px;
  margin: auto;
}

.film {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #D4D4D4;
}

.film-wrapper {
  display: flex;
}

.film-trailer {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.poster {
  border-radius: 5px;
  width: 358px;
}

.trailer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #D4D4D4;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 25px;
  padding-top: 25px;
  cursor: pointer;
}

.trailer-button-icon {
  margin-right: 14px;
}

.film-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
}

.film-subtitle {
  display: block;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 21px;
  color: #A5A5A5;
}

.film-discription {
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  max-width: 514px;
  margin-bottom: 50px;
}

.about-film {
  display: flex;
  margin-bottom: 50px;
}

.about-text {
  display: block;
  margin-right: 40px;
  margin-bottom: 16px;
}

.about-text-bold {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.rating {
  display: flex;
  align-items: center;
}

.film-rating-counter {
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #5671F6;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 28px;
}

.rating-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0px;
  margin-bottom: 12px;
}

.rating-text {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 19px; 
}

.rating-text-bold {
  font-weight: bold;
}

.cast {
  padding-top: 70px;
  padding-bottom: 100px;
}

.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.section-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #A5A5A5;
  margin-right: 30px;
}

.section-title.active {
  color: #363636;
  font-weight: 900;
}

.tabs-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 35px;
}

.card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 21px;
}

.en-name {
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
}

.name {
  font-size: 16px;
  line-height: 19px;
  color: #5671F6;
  margin-bottom: 6px;
}

.news {
  background-color: #F3F3F3;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-left: 154px;
}

.section-news-title {
  font-weight: 900;
  color: #000000;
  margin-bottom: 65px;
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-card {
  flex-basis: 23%;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  color: #000000;
}

.news-date {
  font-size: 14px;
  line-height: 16px;
}

.news-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 14px;
}