* {
	margin: 0px;
	padding: 0px;
}

.container {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 10px;
	color: #FFFFFF;
	font-size: 60px;
}
.one {
	background-color: #228B22;
	border-radius: 5px;
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.two {
	background-color: #FF8C00;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.three {
	background-color: #008B8B;
	border-radius: 5px;
	grid-row-start: 2;
	grid-row-end: 4;
	display: flex;
	align-items: center;
	justify-content: center;
}
.four {
	background-color: #C71585;
	border-radius: 5px;
	grid-column-start: 2;
	grid-column-end: 4;
	display: flex;
	align-items: center;
	justify-content: center;
}
.five {
	background-color: #00FFFF;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.six {
	background-color: #FF0000;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}