.div_1 {
  width: 400px;
  background-color: #f1f119;
  height: 10vh;
  border: 3px solid #ff0000;
  border-top: 3px dotted #0000ff;
  border-bottom: 3px dashed  #0000ff;
}

.div_2 {
  width: 300px;
  min-width: 400px;
  max-height: 100px;
  background-color: #8A2BE2;
  height: 100px;
  
}